<div class="container p-3 bg-info bg-opacity-10 border border-info border-start-0 rounded-end">
    <h3>Os teus dados</h3>
    <div class="row">
      <div class="col">
        <p>Nome de utilizador: {{current_user.username}}</p>
      </div>
      <div class="col">
        <p>Nome completo: {{current_user.name}}</p>
      </div>
      <div class="col">
        <p>E-mail: {{current_user.email}}</p>
      </div>
      <div class="col">
        <p>Telefone: {{current_user.telefone}}</p>
      </div>
    </div>
</div>