{%extends 'base.html'%}
{%block conteudo%}
    <form action="" method="POST" novalidate>
        {{form.csrf_token}}
        <div class="container d-flex align-items-center justify-content-center">
            <div class="p-5 bg-light border rounded w-25">
                <h4>Cria uma nova palavra-passe, {{utilizador.name}}.</h4>
                <div class="mb-3 w-auto d-flex justify-content-center">
                    {{form.password(class="form-control w-auto",placeholder="Nova palavra-passe")}}
                </div>
                {%if form.password.errors%}
                    <div class="alert alert-danger">
                        {%for erro in form.password.errors%}
                            <li>{{erro}}</li>
                        {%endfor%}
                    </div>
                {%endif%}
                <div class="mb-3 w-auto d-flex justify-content-center">
                    {{form.confirm(class="form-control w-auto",placeholder="Confirma a palavra-passe")}}
                </div>
                {%if form.confirm.errors%}
                    <div class="alert alert-danger">
                        {%for erro in form.confirm.errors%}
                            <li>{{erro}}</li>
                        {%endfor%}
                    </div>
                {%endif%}                
                <div class="mb-3 w-auto d-flex justify-content-center">
                    <button class="btn btn-primary" type="submit">Guardar</button>
                </div>
                
            </div>
        </div>
        
    </form>
{%endblock%}