{%extends 'base.html'%}

{%block conteudo%}
    <div class="container d-flex align-items-center justify-content-center">
        <form action="" method="POST" novalidate>
            {{form.csrf_token}}
            <div class="p-5 bg-light border rounded">
                <h2 class="text-center">{%if not current_user.is_authenticated%}Login{%else%}Digita a tua palavra-passe{%endif%}</h2>
                {%if not current_user.is_authenticated%}
                <div class="mb-3">
                    <label class="form-label">Username</label>
                    {{form.username(class="form-control w-auto",placeholder="O teu nome de utilizador")}}
                    {%if form.errors.username%}
                    <div class="alert alert-danger" role="alert">
                        
                            {%for error in form.errors.username%}
                                <li>{{error}}</li>
                            {%endfor%}
                         
                    </div>
                    {%endif%}
                </div>
                {%endif%}
                <div class="mb-3">
                    <label class="form-label">Palavra-passe</label>
                    {{form.password(class="form-control w-auto")}}
                    {%if form.errors.password%}
                    <div class="alert alert-danger" role="alert">
                        
                            {%for error in form.errors.password%}
                                <li>{{error}}</li>
                            {%endfor%} 
                          
                    </div>
                    {%endif%}
                </div>
                <a href="{{url_for('identificar_utilizador')}}">Esqueci a palavra-passe.</a>
                <div class="checkbox mb-3">
                    {{form.remember_me}} Remember me
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">{%if not current_user.is_authenticated%}Entrar{%else%}Confirmar{%endif%}</button>
                </div>
                
            </div>
            
        </form>
    </div>
{%endblock%}