{% extends 'base.html' %}

{%block titulo%}{{super()}} - Página Inicial{%endblock%}


{%block conteudo%}
{%if current_user.is_authenticated%}
  <h2>Bem-vindo, {{current_user.name}}!</h2>
  {%include 'dados_utilizador.html'%}
  
{%else%}
  <div class="card-body">
      <h1 class="card-title">Bem-vindo(a) ao Maningue Nice!</h1>
      <p class="card-text">Uma rede social perfeita para ti.</p>
      <a href="{{url_for('registo')}}" class="btn btn-primary">Regista-te</a>
      <a class="btn btn-primary" href="{{url_for('login')}}">Inicia Sessão</a>
    </div>
  </div>
{%endif%}
{%endblock%}